.title {
  background-color: #02C39A;
  text-align: center;
  margin: 0;
  padding: 10px;
  color: white;
  margin-bottom: 24px;
}

.section {
  margin-top: 16px;
}

.add-member-input {
  height: 32px;
  width: 100%;
}

.add-button-wrapper {
  text-align: center;
}

.add-button {
  width: 120px;
  margin-top: 16px;
  padding: 10px;
  background-color: #02C39A;
  border-radius: 30px;
  color: white;
  font-weight: bold;
  font-size: 16px;
}

.subtitle {
  margin-bottom: 16px;
  margin-left: 16px;
  font-size: 24px;
}

.display-bill {
  margin-top: 8px;
  border-bottom: 2px solid #028090;
  padding-bottom: 16px;
}

.for-who-radio-buttons-wrapper {
  margin-left: 16px;
}

.person-result {
  display: flex;
}

.result-wrapper {
  text-align: center;
  margin-top: 24px;
}

.result-name {
  flex: 0 0 180px;
}

.result-amount {
  flex: 1 0 auto;
}

.amount-input {
  height: 32px;
  width: 100%;
}

.calc-button-wrapper {
  margin-top: 16px;
  text-align: center;
}

.calc-button {
  width: 120px;
  color: white;
  font-weight: bold;
  font-size: 16px;
  padding: 10px;
  background-color: #02C39A;
  border-radius: 30px;
}

body {
  background-color: #F0F3BD;
}